<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>搜索引擎超级管理员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="../static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><i class="fa fa-comments"></i> <strong>{{ obj }}</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" style="margin-right: 20px" href="/login_del/">
                        退出
                    </a>
                </li>
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/add_cat1/"><i class="fa fa-dashboard"></i> 一级目录</a>
                    </li>
                    <li>
                        <a href="/add_cat2/"><i class="fa fa-desktop"></i> 二级目录</a>
                    </li>
					<li>
                        <a class="active-menu" href="/add_web/"><i class="fa fa-bar-chart-o"></i> 站点</a>
                    </li>
                    <li>
                        <a href="/web_error/"><i class="fa fa-qrcode"></i> 出错站点</a>
                    </li>

                    <li>
                        <a href="/index/"><i class="fa fa-table"></i> 返回主页</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                创建站点
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <form action="/add_web/"  method="POST">
                                         <div class="col-lg-6">
                                            <div class="input-group">
                                                 <input type="text" style="width: 160px;" name="web_name" class="form-control" placeholder="站点名称">
                                                <input type="text" style="width: 160px;" name="web_info" class="form-control" placeholder="站点信息">
                                                <input type="text" style="width: 160px;" name="web_url" class="form-control" placeholder="站点url">
                                              <span class="input-group-btn">
                                                  <select class="btn btn-default" style="width: 100%;" name="web_id_2">
                                                    {% for row_subcat in obj_1 %}
                                                        <option value="{{ row_subcat.id }}">{{ row_subcat.subcatname }}</option>
                                                    {% endfor %}
                                                  </select>
                                              </span>
                                              <span class="input-group-btn">
                                                <input class="btn btn-default" type="submit" value="提交"><span class="badge">{{ obj_info }}</span>
                                              </span>
                                            </div>
                                         </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                一级目录
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>一级目录名</th>
                                                <th>二级目录名</th>
                                                <th>站点</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in user_list %}
                                            <tr>
                                                <td>{{ row.cat }}</td>
                                                <td>
                                                    {% for row_1 in obj_1 %}
                                                        {% if row.id == row_1.sub_cat_id %}
                                                            <p>{{ row_1.subcatname }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for row_1 in obj_1 %}
                                                        {% if row.id == row_1.sub_cat_id %}
                                                                {% for row_2 in obj_2 %}
                                                                    {% if row_1.id == row_2.web_type_id %}
                                                                        <p><a href="{{ row_2.web_url }}">{{ row_2.web_name }}</a>|<a href="/add_web_del-{{ row_2.id }}/">删除</a></p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>

        </div>

    </div>

    <script src="../static/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="../static/js/bootstrap.js"></script>

    <!-- Metis Menu Js -->
    <script src="../static/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="../static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../static/js/morris/morris.js"></script>


	<script src="../static/js/easypiechart.js"></script>
	<script src="../static/js/easypiechart-data.js"></script>


    <!-- Custom Js -->
    <script src="../static/js/custom-scripts.js"></script>


</body>

</html>